<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit/Add Movie</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        background-color: #f4f7fa;
        font-family: "Roboto", sans-serif;
      }

      .container {
            padding: 20px;
        }

      .card {
        border: none;
        border-radius: 10px;
        background-color: #ffffff;
        padding: 20px;
      }

      .card-body {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 30px;
        border-radius: 10px;
      }

      h2 {
        font-size: 2rem;
        color: #333;
        margin-bottom: 30px;
        font-weight: bold;
      }

      label {
        font-weight: 600;
        color: #333;
      }

      .form-control,
      .form-control-file {
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;
      }

      .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 2px 8px rgba(0, 123, 255, 0.3);
      }

      .btn-primary {
        background-color: #007bff;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        padding: 12px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
        transition: background-color 0.3s, transform 0.3s;
      }

      .btn-primary:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
      }

      .btn-primary:active {
        transform: translateY(1px);
      }
    </style>
  </head>
  <body>
    <%- include('./navbar') %>

    <div class="container mt-5">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center">
            <%= isUpdate ? "Edit Movie" : "Add New Movie" %>
          </h2>
          <form
            id="movieForm"
            action="<%= isUpdate ? '/admin/movies/' + movie._id : '/admin/movies' %>"
            method="POST"
          >
            <input
              type="hidden"
              id="movieId"
              name="movieId"
              value="<%= movie._id || '' %>"
            />
            <div class="form-group">
              <label for="title">Movie Title</label>
              <input
                type="text"
                class="form-control"
                value="<%= movie.title || '' %>"
                name="title"
                id="title"
                placeholder="Enter movie title"
                required
              />
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <textarea
                class="form-control"
                name="description"
                id="description"
                rows="4"
                placeholder="Enter movie description"
                required
              ><%= movie.description || '' %></textarea>
            </div>
            

            <div class="form-group">
              <label for="thumbnail">Thumbnail</label>
              <input
                type="text"
                class="form-control"
                value="<%= movie.thumbnail || '' %>"
                name="thumbnail"
                id="thumbnail"
                placeholder="Enter thumbnail URL"
                required
              />
            </div>

            <div class="form-group">
              <label for="videoUrl">Video URL</label>
              <input
                type="text"
                class="form-control"
                value="<%= movie.videoUrl || '' %>"
                name="videoUrl"
                id="videoUrl"
                placeholder="Enter video URL"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary btn-block">
              <%= isUpdate ? "Update Movie" : "Add Movie" %>
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
